@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"');

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 10;
}

Link {
  cursor: pointer;
}

header, footer {
  flex-shrink: 0;
  height: auto;
}

main {
  flex: 1 0 auto;
}


.fa-facebook {
    transition: 1s;
  }

  .fa-facebook:hover {
    color: rgb(66, 103, 178);
  }

  .fa-vk {
    transition: 1s;
  }

  .fa-vk:hover {
    color: rgb(51, 99, 196);
  }

  .fa-square-x-twitter {
    transition: 1s;
  }

  .fa-square-x-twitter:hover {
    color: rgb(29, 161, 242);
  }

  .fa-square-google-plus {
    transition: 1s;
  }

  .fa-square-google-plus:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: conic-gradient( 
      rgb(219, 68, 55) 25%,
      rgb(66, 133, 244) 25% 50%, 
      rgb(15, 157, 88) 50% 75%,
      rgb(244, 180, 0) 75%);
  }

  .fa-square-pinterest {
    transition: 1s;
  }

  .fa-square-pinterest:hover {
    color: rgb(230, 0, 35);
  }

  .fa-square-instagram {
    transition: 1s;
  }

  .fa-square-instagram:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(225deg, 
      rgb(5, 10, 230), 
      rgb(88, 81, 216),  
      rgb(131, 58, 180), 
      rgb(193, 53, 132),
      rgb(225, 48, 108),
      rgb(253, 36, 76),
      rgb(245, 96, 64),
      rgb(247, 119, 55),
      rgb(252, 175, 69),
      rgb(255, 220, 128));
  }

  .fa-linkedin {
    transition: 1s;
  }

  .fa-linkedin:hover {
    color: rgb(0, 119, 181);
  }

  .fa-tiktok {
    transition: 1s;
  }

  .fa-tiktok:hover {
    color: #fff;
    text-shadow: -1.5px -1.5px rgba(0, 242, 234, 0.7), 
                  1.5px 1.5px rgba(255, 0 ,80, 0.7);
  }