.main-bg {
  background: url('./public/main_bg.jpg') no-repeat center;
  background-size:cover;
  padding: 64px 0;
  height: 100%;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 3;
  }

  .main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    

    .main-title {
      width: 350px;
      height: auto;
      text-align: center;

      h1 {
        font-size: 64px;
        font-weight: 900;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin-bottom: 20px;

        &::after {
          content: ' "ЕСЕНИН"';
          color: rgb(135, 50, 190);
        }
      }

      .reservation-btn {
        width: 300px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        border: none;
        font-size: 21px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: rgb(135, 50, 190, 0.7);
          color: #ffffff;
        }
        
      }
    }

    .socials {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .slivki {
        display: flex;
        width: 350px;
        max-height: 350px;
        border: 3px solid rgb(135, 50, 190, 0.7);
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;

        h3 {
          text-align: center;
          color: #ffffff;
          font-size: 21px;
          font-weight: 600;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .relax {
        display: flex;
        width: 350px;
        max-height: 350px;
        border: 3px solid rgb(135, 50, 190, 0.7);
        border-radius: 15px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        h3 {
          text-align: center;
          color: #ffffff;
          font-size: 21px;
          font-weight: 600;
        }

        img {
          width: 40px;
          height: 40px;
        }

      }
    }
  }

  .main-menu-link {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: 48px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .link-main-menu {
      display: inline-block; 
      width: 300px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      border: none;
      font-size: 21px;
      font-weight: 600;
      color: inherit; 
      text-align: center;
      line-height: 50px; 
      text-decoration: none; 
      cursor: pointer;
      transition: 0.3s;

      &:hover  {
        background-color: rgba(135, 50, 190, 0.7);
        color: #ffffff;
      }
    }

  }

  .main-news-link {
    text-align: center;

    h2 {
      font-size: 48px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .link-main-news {
      display: inline-block; 
      width: 300px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      border: none;
      font-size: 21px;
      font-weight: 600;
      color: inherit; 
      text-align: center;
      line-height: 50px; 
      text-decoration: none; 
      cursor: pointer;
      transition: 0.3s;

      &:hover  {
        background-color: rgba(135, 50, 190, 0.7);
        color: #ffffff;
      }
    }
  }
}
